.custom-form {
  border: 1px solid rgb(75, 73, 73) !important;
  border-radius: 5px;
  padding: 1%;
}
.form textarea {
  border-radius: 5px;
  padding: 15px 10px;
}

.bg {
  background: rgb(227, 44, 62);
  background: linear-gradient(
    90deg,
    rgba(227, 44, 62, 1) 0%,
    rgba(191, 113, 46, 0.4408446485623003) 0%,
    rgba(213, 99, 33, 0.3513877795527156) 46%,
    rgba(248, 98, 31, 0.37375199680511184) 96%,
    rgba(214, 116, 33, 0.261930910543131) 100%
  );
  padding: 60px;
}

.bg-2 {
  background-image: url("../../../images/footer-bg.png");
  background-color: #212121;
  width: 100%;

  padding: 50px;
  border-radius: 20px;
}
