.custom-form {
  border: 1px solid rgb(75, 73, 73) !important;
  border-radius: 5px;
  padding: 1%;
}
.form textarea {
  border-radius: 5px;
  padding: 15px 10px;
}

.bg {
  background-size: cover;
  background-image: url("../../../images/banner.jpg");
  padding: 60px;
}

.bg-2 {
  background-image: url("../../../images/footer-bg.png");
  background-color: #21212191;
  width: 100%;

  padding: 50px;
  border-radius: 20px;
}
