.custom-form {
  border: 1px solid rgb(75, 73, 73) !important;
  border-radius: 5px;
  padding: 1%;
}
.form-contact input {
  background: rgba(236, 234, 234, 0.5);
}
.form-contact textarea {
  background: rgba(236, 234, 234, 0.5);
}
.form-contact input::placeholder {
  color: rgb(255, 255, 255);
}
.form-contact textarea::placeholder {
  color: rgb(255, 255, 255);
}
.form-contact input,
select,
textarea {
  color: #e6e1e1;
}

.form-contact textarea:focus,
input:focus {
  color: #f7f0f0;
}
.form-contact textarea {
  border-radius: 5px;
  padding: 15px 10px;
}

.bg {
  background-size: cover;
  background-image: url("../../../images/banner.jpg");
  padding: 60px;
}

.bg-2 {
  background-image: url("../../../images/footer-bg.png");
  background-color: #21212191;
  width: 100%;
  backdrop-filter: blur(0.2rem);

  padding: 50px;
  border-radius: 20px;
}
