.products-section {
  background: #93776f79;
}
.service {
  position: relative;
  overflow: hidden;
}
.custom-card {
  background: #4b4547d5 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -266px;
  color: rgb(236, 220, 220);
  transition: 0.4s all;
}
.custom-position {
  position: relative;
}

.service:hover .custom-card {
  bottom: 0%;
  padding-top: 160px;
}

@media screen and (max-width: 375px) {
  .custom-card {
    bottom: -233px;
  }
}
